{
  "presets": ["next/babel"],
  "plugins": [
    ["emotion", { "inline": true }],
    [
      "module-resolver",
      {
        "extensions": [".js", ".ts", ".tsx", ".graphql"],
        "root": ["./src"]
      }
    ]
  ]
}
